html {
  font-size: 1em; /* respect user configured font size */
  max-width: 40em;
  margin: auto;

  /* Always show scrollbar, to prevent content shifting when navigating
   * between long and short pages: */
  overflow-y: scroll;

  font-family: "IBM Plex Sans", sans-serif;
}

code,
pre {
  font-family: "IBM Plex Mono";
}
pre code {
  font-size: 0.9rem;
}

p,
ul,
ol {
  line-height: 1.5rem;
  margin: 1.7rem 0;
}
li + li {
  margin-top: 0.7rem;
}
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 1.3rem;
}

a {
  color: black;
}
a:hover {
  background-color: gold;
}
a[target="_blank"]::after {
  content: "↗";
}

a.heading-link {
  text-decoration: none;
  margin-left: 0.3em;
  visibility: hidden;
}
:hover > a.heading-link {
  visibility: visible;
}
section:target > h2,
section:target > h3,
section:target > h4,
section:target > h5,
section:target > h6 {
  background-color: gainsboro;
  margin-left: -1rem;
  padding-left: 1rem;
}

main img,
main video {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 0.3rem;
}

main hr {
  margin: 2rem 0;
}

footer {
  margin-top: 2rem;
  text-align: right;
  font-size: 0.8rem;
}

pre,
.sidenote {
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  background-color: #eee;
  padding: 0.5rem;
  margin: 1.7rem 0;
}
pre {
  overflow-x: auto;
}
.sidenote {
  margin-left: 2rem;
  background-color: #eee;
}
.sidenote p {
  margin: 0;
}

blockquote {
  padding-left: 7px;
  margin: 1.5rem 0 1.5rem 2rem;
  quotes: "\201C" "\201D";
  /* prevent long links from breaking out of the blockquote: */
  overflow-wrap: break-word;
  padding: 0 0.4rem 0 0.7rem;
  background-color: cornsilk;
  border-radius: 0.3rem;
  border: 1px solid brown;
}
blockquote::before {
  position: absolute;
  margin-left: -0.8em;
  margin-top: -0.25em;
  font-size: 3em;
  color: brown;
  content: open-quote;
}
blockquote p {
  margin: 0.7rem 0;
}

sup {
  line-height: 1rem; /* prevents it from pushing up the line */
}
