html {
  font-size: 1em; /* respect user configured font size */
  max-width: 45em;
  margin: auto;

  /* Always show scrollbar, to prevent content shifting when navigating
   * between long and short pages: */
  overflow-y: scroll;

  font-family: "IBM Plex Sans", sans-serif;
}

code,
pre {
  font-family: "IBM Plex Mono";
}
code {
  color: darkred;
}
pre code {
  color: inherit;
  font-size: 0.9rem;
}

p,
ul,
ol {
  line-height: 1.35rem;
}

a {
  color: black;
}
a:hover {
  background-color: yellow;
}
a[target="_blank"]::after {
  content: "↗";
}

main img,
main video {
  max-width: 100%;
}

footer {
  margin-top: 2rem;
  text-align: right;
  font-size: 0.8rem;
}

pre,
.sidenote {
  border: 1px solid black;
  padding: 0.5rem;
}
pre {
  overflow-x: auto;
}
.sidenote {
  margin-left: 2rem;
  background-color: #eee;
}
.sidenote p {
  margin: 0;
}

blockquote {
  padding-left: 7px;
  margin: 1.5rem 0 1.5rem 2rem;
  quotes: "\201C" "\201D";
  /* prevent long links from breaking out of the blockquote: */
  overflow-wrap: break-word;
}
blockquote::before {
  position: absolute;
  margin-left: -0.5em;
  margin-top: -0.25em;
  font-size: 3em;
  content: open-quote;
}

sup {
  line-height: 1rem; /* prevents it from pushing up the line */
}
