/* For "Normal" weight (400) I'm actually using the font's "Text" variant
 * which is originally of weight 450.
 */
@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/IBMPlexSans-Text.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/IBMPlexSans-TextItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/IBMPlexSans-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/IBMPlexSans-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/IBMPlexMono-Text.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/IBMPlexMono-TextItalic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/IBMPlexMono-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "IBM Plex Mono";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/IBMPlexMono-BoldItalic.woff2") format("woff2");
}
