{{define "head"}}{{end}}

{{define "body"}}
<header>
  <h1 class="site-title">{{.Site.Name}}</h1>
  <p class="tagline">{{.Site.Tagline}}</p>
</header>

<hr>

{{- template "navbar" .}}

{{.Content}}

{{if .ArticlesInFeed -}}
<p>All posts, newest first:</p>

<ul>
  {{- range .ArticlesInFeed}}
  {{- if not .IsDraft}}
  <li class="article">
    <a href="{{.WebPath}}">{{.Title}}</a>
    <br>
    <span>{{.PostedAt.Local.Format "January 2, 2006"}}</span>
  </li>
  {{- end}}
  {{- end}}
</ul>
{{else}}
<p>No posts yet.</p>
{{end}}

<style>
.site-title {
  margin-bottom: 0;
}
.tagline {
  margin-top: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.article {
  margin-bottom: 1rem;
}
.article a {
  text-decoration: none;
  font-weight: bold;
}
</style>

{{template "footer" .}}
{{end}}
