nav > a {
  margin-right: 0.7rem;
  text-decoration: none;
}

nav > .posted-on {
  font-style: italic;
  float: right;
}

.nav-hr {
  clear: both;
}

.feed-link {
  padding: 0 0.2rem;
  margin-left: -0.2rem; /* make up for padding -> avoid misalignment */
  color: #d2660b;
  background-color: white;
  text-decoration: none;
  border-radius: 0.3rem;
}
.feed-link:hover {
  background-color: #e37418;
  color: white;
}
