{{- define "head"}}{{- end}}

{{define "body"}}

{{- template "navbar" .}}

<main>

{{- if .Post.Parent }}
<em>
  This post is part of
  <a href="{{.Post.Parent.WebPath}}">{{.Post.Parent.Title}}</a>
</em>
{{- end }}

<h1>{{.Post.Title}}</h1>

{{.Content}}
{{if .Post.Parent }}
  <div class="series-container">
    <p>
      Here's every post in
      <a href="{{.Post.Parent.WebPath}}">{{.Post.Parent.Title}}</a>,
      in chronological order:
    </p>

    <ol>
    {{- range .Post.Parent.Children }}
      {{ if not .IsDraft -}}
      <li><a href="{{.WebPath}}">{{.Title}}</a>
          {{- if eq $.Post.WebPath .WebPath }} (you&nbsp;are&nbsp;here) {{- end -}}
      </li>
      {{- end -}}
    {{ end }}
    </ol>
  </div>

  <style>
    .series-container {
      margin: 2rem 0;
      padding: 0 1rem;
      border: 2px dashed #aaa;
      border-radius: 0.3rem;
      background-color: #eee;
    }
    .series-container li {
      margin: 0.3rem;
    }
    .series-container p, .series-container ol {
      margin: 0.8rem 0 1rem 0;
    }
  </style>
{{ end -}}

</main>

{{template "footer" .}}
{{- end}}
